<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Email</th>
                <th>Şifre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{myUser.username}}</td>
                <td>{{myUser.firstname}}</td>
                <td>{{myUser.lastname}}</td>
                <td>{{myUser.email}}</td>
                <td>{{myUser.password}}</td>
            </tr>
        </tbody>
    </table>
</div>
