<div class="container">
    <table class="table table-stripped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Kullanıcı Adı</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Email</th>
                <th>Şifre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" >
                <td>{{user.username}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
            </tr>
        </tbody>
    </table>
</div>
